[core]
  excludesfile = ~/.gitignore
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  filemode = true
  path =
[alias]
  alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
  co = checkout
  st = status
  s = status --short --branch
  ci = commit
  diffc = diff --cached
  br = branch
  tr = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
  info = remote show origin
  ignore = ! echo >> .git/info/exclude
  pr = pull-request
  sync = ! git pull --rebase upstream master && git push origin master && git gc
[include]
  path = ~/.gitconfig.local
[color]
  ui = auto
  diff = auto
[push]
	default = simple
[user]
	name = wtnb-msr
	email = wtnb.msr@gmail.com
